{{!-- Setup the `index.handlebars` to have the template that Handlebars can render onto. --}}
{{!-- Create a button in `index.handlebars` that will submit the user input into the database. --}}

{{!-- <p>Successfully connected to server!</p> --}}

<!-- adding data to the database-->

<div class="container">
    <div class="row">
        <div class="col-m-12 text-center">
            <p><img src="https://fontmeme.com/permalink/190606/49c3b55f6b0d5a06ba996bc856555594.png" alt="gabriel-weiss-friends-font-font" border="0"><div class=""></div></p>
              <form action="/burgers/create" method="POST">
                <input type="text" name="burger_name" class="form-control" value="" id="enter_text">
                <button type="submit" class="btn btn-primary" id="text-enter-button">SUBMIT</button>
            </form>
            
            <!-- Need to add create method into orm.js-->
        </div>
    </div>

</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-m-6 text-center">
            <div class="row">
                <!--looping thru the burger data, and for each piece of burger data, it will run the code to post this.id, this.burger_name-->
                <!--create a button so that when it's clicked, it will send this.id back to the survey unless this.devoured = true -->
                {{#each burger_data}}
                {{#unless this.devoured}}
                <div class="col-m-9 text center">
                    <pre class="newInput">{{this.burger_name}}</pre>
                </div>
                <div class="col-m-3 text-center">
                    <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                        <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                        <button type=" submit" class="btn"> NOM NOM </button>
                    </form>

                </div>
                {{/unless}}
                {{/each}}
            </div>

        </div>
<br>
<br>
        <div class="col-m-6 text center">
            <p><img src="https://fontmeme.com/permalink/190608/6264ff3613301e8ac0fb3fd84d62db13.png" alt="bobs-burgers-tv-show-font" border="0"><p>
            {{#each burger_data}}
            {{#if this.devoured}}
            <input class="form-control2" type="text" placeholder="{{this.burger_name}}">
            <!--create button-->
            <br>
            {{/if}}
            {{/each}}
        </div>
    </div>

</div>

